Node-Red-Smart-Garden.json
[
    {
        "id": "01f479894420dcb3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9dc866d11e747c88",
        "type": "inject",
        "z": "01f479894420dcb3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "5013f2e5a156ea58"
            ]
        ]
    },
    {
        "id": "5013f2e5a156ea58",
        "type": "mqtt out",
        "z": "01f479894420dcb3",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "083c9214c52f24dc",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "796ce2b60ec51a72",
        "type": "mqtt in",
        "z": "01f479894420dcb3",
        "name": "",
        "topic": "garden/soil",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "083c9214c52f24dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 240,
        "wires": [
            [
                "eb6d4553a6741cc2",
                "7eabb0d860f4ef8b"
            ]
        ]
    },
    {
        "id": "eb6d4553a6741cc2",
        "type": "debug",
        "z": "01f479894420dcb3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "7eabb0d860f4ef8b",
        "type": "function",
        "z": "01f479894420dcb3",
        "name": "function 1",
        "func": "if (msg.payload==\"Optimal\")\n{msg.payload=true;}\nelse {msg.payload=false;}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "bdb1ea42fbe47531",
        "type": "mqtt in",
        "z": "01f479894420dcb3",
        "name": "",
        "topic": "garden/water",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "083c9214c52f24dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "b5464a6ddbd6eb44",
                "257b8b7bbb5a78ff"
            ]
        ]
    },
    {
        "id": "b5464a6ddbd6eb44",
        "type": "debug",
        "z": "01f479894420dcb3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "257b8b7bbb5a78ff",
        "type": "function",
        "z": "01f479894420dcb3",
        "name": "function 2",
        "func": "var waterLevel = msg.payload;\n\nif (waterLevel < 25) {\n    // Wasserstand ist zu niedrig, sende eine Nachricht\n    msg.payload = \"Low level, refilling\";\n    return msg;\n}\n\nreturn null; // Rückgabe von null, um keine Nachrichten weiterzuleiten, wenn der Wasserstand nicht niedrig ist",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "50c4c1c353def757",
        "type": "mqtt in",
        "z": "01f479894420dcb3",
        "name": "",
        "topic": "esp8266/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "083c9214c52f24dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "95a71da789e29e2c",
                "e22c94cb7a71affb",
                "7f23cbbbc681f171"
            ]
        ]
    },
    {
        "id": "95a71da789e29e2c",
        "type": "ui_gauge",
        "z": "01f479894420dcb3",
        "name": "",
        "group": "2cf3edb9a87aa5ce",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bodenfeuchtigkeit",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "29",
        "seg2": "49",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "e22c94cb7a71affb",
        "type": "debug",
        "z": "01f479894420dcb3",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "daa34e6beaa4846f",
        "type": "mqtt out",
        "z": "01f479894420dcb3",
        "name": "",
        "topic": "esp8266/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "083c9214c52f24dc",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "6a4f7ebf9ebb34dc",
        "type": "ui_switch",
        "z": "01f479894420dcb3",
        "name": "",
        "label": "Notbewässerung",
        "tooltip": "",
        "group": "2cf3edb9a87aa5ce",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "esp8266/switch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "daa34e6beaa4846f",
                "8b2280df3d062bd4"
            ]
        ]
    },
    {
        "id": "7f23cbbbc681f171",
        "type": "ui_chart",
        "z": "01f479894420dcb3",
        "name": "",
        "group": "2cf3edb9a87aa5ce",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Diagramm",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8b2280df3d062bd4",
        "type": "debug",
        "z": "01f479894420dcb3",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "ace78b1de23fbffb",
        "type": "mqtt in",
        "z": "01f479894420dcb3",
        "name": "",
        "topic": "esp8266/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "083c9214c52f24dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 700,
        "wires": [
            [
                "6ebba7c80979b37c"
            ]
        ]
    },
    {
        "id": "6ebba7c80979b37c",
        "type": "debug",
        "z": "01f479894420dcb3",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 720,
        "wires": []
    },
    {
        "id": "1e8d6b4a88be4ee2",
        "type": "mqtt in",
        "z": "01f479894420dcb3",
        "name": "",
        "topic": "esp8266/switch",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "083c9214c52f24dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 760,
        "wires": [
            [
                "698bfe2b4cb0de0b"
            ]
        ]
    },
    {
        "id": "698bfe2b4cb0de0b",
        "type": "debug",
        "z": "01f479894420dcb3",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 780,
        "wires": []
    },
    {
        "id": "5199457d597e6f5a",
        "type": "mqtt out",
        "z": "01f479894420dcb3",
        "name": "",
        "topic": "esp8266/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "083c9214c52f24dc",
        "x": 570,
        "y": 860,
        "wires": []
    },
    {
        "id": "3020ea7f774fd69b",
        "type": "ui_switch",
        "z": "01f479894420dcb3",
        "name": "",
        "label": "Lichtschalter",
        "tooltip": "",
        "group": "2cf3edb9a87aa5ce",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "5199457d597e6f5a",
                "8a42af4613e0c673"
            ]
        ]
    },
    {
        "id": "8a42af4613e0c673",
        "type": "debug",
        "z": "01f479894420dcb3",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 960,
        "wires": []
    },
    {
        "id": "083c9214c52f24dc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.19",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2cf3edb9a87aa5ce",
        "type": "ui_group",
        "name": "Standard",
        "tab": "c3808244868f7c3b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3808244868f7c3b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]